/* Haupt-Layout-Stil */
.grow-plan-wrapper {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Formular-Stil */
.form-group {
    margin-bottom: 20px;
}

.input-field,
.textarea-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button-Stil */
button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Überschriften-Stil */
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}


/* Stil für Statusmeldungen */
.status-message {
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    background: #ffc107;
    color: #663c00;
    text-align: center;
    font-size: 14px;
}

/* Allgemeine Abstände und Ausrichtungen */
.margin-bottom {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.droppable-container {
  padding: 8px;
  width: 250px;
  min-height: 500px;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.initial-plans {
  background-color: #f7f7f7;
}

.initial-plans-dragging-over {
  background-color: #e2e2e2;
}

.dropped-items {
  background-color: #e8f5e8;
}

.dropped-items-dragging-over {
  background-color: #cce8cc;
}

.draggable-item {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  color: black;
  background-color: white;
}

.draggable-item-dragging {
  background-color: #a7a7a7;
}

.total-grow-time-display {
  margin-top: 20px;
  text-align: center;
}

.progress-bar {
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  
  height: 20px;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
  
}

.progress-bar-inner {
  height: 20px;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}


.input-container, .information-about-growplan-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
    display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  font-weight: bold;
}

.input-group input, .input-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group textarea {
  resize: vertical; /* Ermöglicht das vertikale Vergrößern des Textfeldes */
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.warning-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}